# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.env

# Node
node_modules/
dist/
build/
.env.local

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Paquetes temporales